<p>
  <strong>Acm module:</strong>
  <%= @acm300_log.acm_module %>
</p>

<p>
  <strong>Log date:</strong>
  <%= @acm300_log.log_date %>
</p>

<p>
  <strong>Log time:</strong>
  <%= @acm300_log.log_time %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @acm300_log.vin %>
</p>

<p>
  <strong>Iin:</strong>
  <%= @acm300_log.iin %>
</p>

<p>
  <strong>Vout:</strong>
  <%= @acm300_log.vout %>
</p>

<p>
  <strong>Iout:</strong>
  <%= @acm300_log.iout %>
</p>

<p>
  <strong>Power:</strong>
  <%= @acm300_log.power %>
</p>

<%= link_to 'Edit', edit_acm300_log_path(@acm300_log) %> |
<%= link_to 'Back', acm300_logs_path %>
