<p>
  <strong>Log time:</strong>
  <%= @fluke.log_time %>
</p>

<p>
  <strong>Off:</strong>
  <%= @fluke.off %>
</p>

<p>
  <strong>Irr py1:</strong>
  <%= @fluke.irr_py1 %>
</p>

<p>
  <strong>Irr py2:</strong>
  <%= @fluke.irr_py2 %>
</p>

<p>
  <strong>Irr rc1:</strong>
  <%= @fluke.irr_rc1 %>
</p>

<p>
  <strong>Temp rc1:</strong>
  <%= @fluke.temp_rc1 %>
</p>

<p>
  <strong>Irr rc2:</strong>
  <%= @fluke.irr_rc2 %>
</p>

<p>
  <strong>Temp rc2:</strong>
  <%= @fluke.temp_rc2 %>
</p>

<p>
  <strong>Flowrate:</strong>
  <%= @fluke.flowrate %>
</p>

<p>
  <strong>Temp pv1:</strong>
  <%= @fluke.temp_pv1 %>
</p>

<p>
  <strong>Temp pv2:</strong>
  <%= @fluke.temp_pv2 %>
</p>

<p>
  <strong>Temp pv3:</strong>
  <%= @fluke.temp_pv3 %>
</p>

<p>
  <strong>Temp pv4:</strong>
  <%= @fluke.temp_pv4 %>
</p>

<p>
  <strong>Temp pv5:</strong>
  <%= @fluke.temp_pv5 %>
</p>

<p>
  <strong>Temp pv6:</strong>
  <%= @fluke.temp_pv6 %>
</p>

<p>
  <strong>Temp hxi:</strong>
  <%= @fluke.temp_hxi %>
</p>

<p>
  <strong>Temp hxo:</strong>
  <%= @fluke.temp_hxo %>
</p>

<p>
  <strong>Temp amb:</strong>
  <%= @fluke.temp_amb %>
</p>

<p>
  <strong>Temp bbox:</strong>
  <%= @fluke.temp_bbox %>
</p>

<p>
  <strong>Temp wtt:</strong>
  <%= @fluke.temp_wtt %>
</p>

<p>
  <strong>Temp wtb:</strong>
  <%= @fluke.temp_wtb %>
</p>

<p>
  <strong>Tempc:</strong>
  <%= @fluke.tempC %>
</p>

<p>
  <strong>Total:</strong>
  <%= @fluke.total %>
</p>

<p>
  <strong>Dioalarm:</strong>
  <%= @fluke.dioalarm %>
</p>

<%= link_to 'Edit', edit_fluke_path(@fluke) %> |
<%= link_to 'Back', flukes_path %>
